<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../resources/style.css">
        <script type="text/javascript" src="../resources/index.js"></script>
        <title>mongo-todo</title>
    </head>
    <body>
        <div class="main">
            <h1 class="title">mongo todo</h1>

            <form id="post-todo-form" class="post-form" method="POST">
                <input class="form-parts" type="text" mame="title" placeholder="title"/>
                <textarea class="form-parts" mame="comment" placeholder="comment"></textarea>
                <button class="button" type="button" onClick="createTodo()"/>登録</button>
            </form>
            <hr />
            {{ $length := len .Todo }}
            {{ if eq $length 0 }}
                <p>todoがないよ</p>
            {{ else }}
                {{ range $i, $t := .Todo }}
                    <input id="todo-id-holder+{{$i}}" type="hidden"/>
                    <div class="todo-container">
                        <div class="todo">{{ $t.Title }}</div>
                        <hr class="todohr"/>
                        <div class="todo">{{ $t.Comment }}</div>
                    </div>
                    <button class="button" type="button" onClick="deleteTodo({{$t}})"/>削除</button>
                {{ end }}
            {{ end }}
        </div>
    </body>
</html>