.main {
    width: 60%;
    margin: auto;
}

.title {
    text-align: center;
}

.post-form {
    margin: 30px, 0px;
}

.form-parts {
    display: block;
    width: 100%;
    margin-top: 1px;
}

.button {
    display: block;
    margin: 0 0 0 auto;
}

.todo-container {
    border: 2px solid black;
    margin-top: 3px;
}

.todo {
    margin: 5px;
}

.todohr {
    margin: -0.5px 0px;
}
