.main {
    width: 60%;
    margin: auto;
}

.title {
    text-align: center;
}

.post-form {
    margin: 30px, 0px;
}

.form-parts {
    display: block;
    width: 99.5%;
    margin-top: 1px;
}

.todo-container {
    border: 2px solid black;
    margin-top: 3px;
    cursor: pointer;
}

.todohr {
    margin: -0.5px 0px;
}

.update-form {
    width: 99%;
}
